{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog !<h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat dolorem iure beatae minus debitis aut ullam quo, ea eaque. Eos rerum harum amet qui, fugit recusandae, minus unde illum dolorem a excepturi corrupti facere dolore nemo? Inventore reiciendis aperiam expedita!</p>
    <p>Ullam officia velit minus rerum reiciendis quia, laborum expedita reprehenderit harum voluptas quidem nihil eos magni esse modi. Repellat odit earum ducimus labore sed eligendi atque dolore doloremque, amet nulla dolor aut consectetur, veritatis minus? Est magni distinctio consequuntur! Nihil?</p>

{% endblock %}